# Ignore all node_moduels except symlink
node_modules/*
!node_modules/APP

/.env.js
*/.DS_Store
public/bundle.js
public/bundle.js.map
bones_orig_backup
npm-debug.log
/yarn.lock
public/stylesheets/bundle.css
public/stylesheets/bundle.css.map
public/stylesheets/main.css
app/components/Player.jsx
bundle.css
bundle.css.map
public/stylesheets/main.css
