.dj-container {
  font-family: Montserrat;
  color: #363836;
}



.single-dj {
  border-bottom: 1px solid black;
}
.dj-you {
  border-bottom: 1px solid black;
}

.dj-img {
  top: 0.3em;
  height: 75px;
  width: 75px;
  position: relative;
}

.dj-list-container {
  max-height: calc(100vh - 240px);
  overflow: scroll;
}
