body {
	margin: 0;
}

.signup-field {
	margin: 0 auto;
}

#signup-container {
	margin-bottom: 5vh;
	width: 100%;
}

.song-list-container {
	max-height: calc(100vh - 240px);
	overflow: scroll;
}

.tabs-container > Tabs {
	font-size: 100px;
}
