.songlist-fail{
	font-family: Roboto;
	font-style: italic;
	text-align: center;
}

.mysongs-col {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mysongs-divider {
	margin: 0;
	font-family: Montserrat;
	text-align: center
}

.mysongs-divider-mid {
	padding-top: 10px;
}

.mysongs-container {
  max-height: 65vh;
  overflow: scroll;
}