#navbar-row {
	background-color: #ec4616;
	min-height: 80px;
	max-height: 80px;
	margin-left: -2.5em;
	align-content: center;


	h2 {
		font-family: Montserrat;
		margin: 0;
		color: #363836;
		font-size: 4em;
	}

	icon {
		color: #363836;
	}



	#wejay-nav-logo {
		color: #FFF4EA;
		margin-left: 0.4em;
		align-items: center;

	}

	.navbar-col {
		display: flex;
		align-items: center;
	}
}

#app-nav-row {
	height: 80px;
}
