#navbar-row {
	background-color: #ec4616;
	height: 7vh;
	min-height: 80px;
	font-size: 90px;

	h2 {
		font-family: Montserrat;
		margin: 0;
		color: #363836;
		font-size: 1.2em;
	}

	icon {
		color: #363836;
	}

	.navbar-icon {
		margin: 0 auto;
	}

	.navbar-col {
		display: flex;
		align-items: center;
	}
}
