.party-header {
	font-size: 2em;
	font-family: Montserrat;
	color: #ffffff;
	margin: 0;
	margin-bottom: 0;
	padding: 10px;
	text-align: center;
}

.party-btn {
	margin-bottom: 10px;
	position: relative;
	left: 25%;
	margin-top: 1em;
}

.party-container {
	background: #dae2df;
	min-height: 100vh;
	padding-top: 1em;
}

#parties-title {
	font-size: 4em;
	font-family: Montserrat;
	text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.party-header-create {
	padding-top: 1em;
}