

.both-player-container {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 12vh;
	background: white;
	display: inline-block;
}

#playerImgStyle {
  width: 3em;
  height: 3em;
	margin-top: 0.2em;
	margin-left: 0.5em;
}
