// .guest-player-text {
// 	font-family: Roboto;
// 	display: inline-block;
// 	margin: 0px 15px 0px 15px;
// }
//
// .guest-player-container {
// 	position: absolute;
// 	bottom: 1vh;
// 	width: 98vw;
// 	background: white;
// 	display: block;
// }

.both-player-container {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 12vh;
	background: white;
	display: inline-block;
}

#playerImgStyle {
  width: 3em;
  height: 3em;
	margin-top: 0.2em;
}
