.top-ten-song {
	font-family: Roboto;
	padding: 1em;

	h3 {
		margin: 0;
		font-size: 1em;
	}

	h4 {
		margin: 0;
		font-size: 0.8em;
	}
}

.top-ten-col {
	display: flex;
	align-items: center;
}

.top-ten-rank {
	justify-content: center
}